.containerOne-bg {
  background-color: #014e56;
}

.containerTwo-bg {
  background-color: #012f34;
}

.containerThree-bg {
  background-color: #014e56;
}

.containerFour-bg {
  background-color: #f67e7e;
}

.containerFive-bg {
  background-color: #002429;
}

.text-container {
  margin: 0 auto;
  max-width: 1000px;
}

.custom-color {
  color: #f67e7e;
}

.custom-color-2 {
  color: #79c8c7;
}

.custom-color-3 {
  color: #889698;
}

.livvic-semibold {
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-style: bold;
}

.hover-border-transition {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.hover-border-transition::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f67e7e;
  transition: width 0.3s ease-in-out;
}

.hover-border-transition:hover::after {
  width: 100%;
}
