.containerOne-bg {
  background-color: #014e56;
}

.containerTwo-bg {
  background-color: #012f34;
}

.containerThree-bg {
  background-color: #014e56;
}

.text-container {
  margin: 0 auto;
  max-width: 1000px;
}

.custom-color {
  color: #f67e7e;
}

.custom-color-2 {
  color: #79c8c7;
}
